*{margin:0; border:0;}
html, body{

    
    padding: 0;
    width: 100%;
}



header{
    width: 100%;
    height: 100vh;

    background: url(image/architecture-1477041.jpg) no-repeat 50% 50%;
    background-size: cover;


}
#logo{
    position:fixed ;
    float: left;
    
}
 nav{
    position: fixed;
    width: 100%;
    background-color: rgba(10,23,55,0.5);
    
}
nav ul{
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    
    
}

nav ul li{
    display: inline-block;
    padding: 20px;
}
nav ul li a{
    text-decoration: nond;
    color: #fff;
    font-size: 19px;
}
.menu-icon{
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: pointer;
    color: #fff;
    display: none;
}
article{
    padding: 20px;
    height: 600px;
}
section{
  
    padding: 20px;
    
	
}
#sobrenos{
    background-color: #fafafa;
    height: 600px;
}
.princ{
    text-align: justify;
     text-indent: 50px;
}
h1{
    margin-top: 80px;
}
#sobrenos p{
    padding-top: 20px;

}
 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#portfolio{
    background-color: #455a64;
    height: 100vh;
}

#servicos{
    background-color: #fafafa;
    padding:10px;
}
#serv{

margin-right:1000px;
margin-top: 170px;

}
#grow:hover
{
        webkit-transform: scale(1.1);
        ms-transform: scale(1.1);
        transform: scale(1.1);
    }
#clientes{
    background-color: #455a64;
    height: 150vh;

}
#footer{
    background-color: #212121;
    height: 200px;
    font-size: 20px;
    color: white;
    padding: 10px;
    text-align: justify;

}
#img-topo{
    width: 60px;
    height: 60px;
    position: fixed;
    right: 50px;
    bottom: 70px;
}
.cont{

    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}
form{
    background-color: #fafafa;
    padding: 20px;
    margin: 5px;
    
}
#form{
    background-color: #fafafa;
    height: 400px;
    margin-top: 80px;
}
#h1-form{
    margin: 10px;
    text-align: center;
}

/*
#divCenter { 
    background-color: #e1e1e1; 
    width: 700px; 
    height: 400px; 
    left: 40%; 
    margin: -130px 0 0 -210px; 
    padding:10px;
    position: absolute; 
    top: 50%; }
 */
#info{
    background-color: #455a64;
    height: 400px;
    margin-top: 80px;
}
.img-clientes{
    width: 100px;
    height: 100px;
    border-radius: 90px;
    margin-top: 100px;
}

.carousel-inner{
    height: 500px;
    width: 500px;
    margin-top: 150px;
}